- (1..30).each do |i|
  %div{:class => "glitter glitter_#{i}"}
.container
  .tree
    %svg{:'version' => "1.1", :'id' => "Layer_1", :'x' => "0px", :'y' => "0px", :'width' => "380px", :'height' => "430px", :'viewBox' => "0 0 380 430", :'enable-background' => "new 0 0 380 430", :'xml:space' => "preserve" }
      %defs
        %linearGradient{ :'id' => "TreeGradient", :'x1' => "0%", :'y1' => "0%", :'x2' => "0%", :'y2' => "100%" }
          %stop{ :'offset' => "5%", :'stop-color' => "#022D02" }
          %stop{ :'offset' => "95%", :'stop-color' => "#005600" }
      %path{ :'fill' => "#5A3412", :'stroke-width' => "0.8894", :'stroke-miterlimit' => "10", :'d' => "M161.008,410.682 c0,0,18.678,12.452,61.665,2.668c-6.951-27.11-11.265-68.483-11.265-68.483s-34.984-13.342-44.768-2.372 C167.53,379.554,161.008,410.682,161.008,410.682z" }
      %path{ :'fill' => "url(#TreeGradient)", :'stroke-width' => "0.8894", :'stroke-miterlimit' => "10", :'d' => "M68.807,268.378 c0,0-10.673,57.218-49.51,63.739c0,0,21.346,20.457,44.47,3.559c17.788,26.386,45.359,10.673,45.359,10.673 s22.235,23.123,47.436,2.372c20.751,28.163,57.515,2.075,57.515,2.075s23.123,25.792,48.027-2.669c0,0,31.128,23.125,53.363-5.337 c3.467-1.876,29.35,17.196,46.249-6.226c-43.284-8.005-50.696-64.927-50.696-64.927C300.988,256.354,68.807,268.378,68.807,268.378z" }
      %path{ :'fill' => "url(#TreeGradient)", :'stroke-width' => "0.8894", :'stroke-miterlimit' => "10", :'d' => "M95.785,222.129 c0,0-29.712,52.489-49.213,54.846c0,0,29.943,23.719,53.067,6.819c24.014,24.608,44.856,9.103,44.856,9.103 s26.296,24.694,53.868,2.756c32.61,21.938,44.68,0.061,52.178-5.04c0,0,24.903,16.307,39.404-5.337c0,0,29.079,8.599,41.828-10.375 c-26.386-0.89-44.767-50.104-44.767-50.104C276.975,209.513,95.785,222.129,95.785,222.129z" }
      %path{:'fill' => "url(#TreeGradient)", :'stroke-width' => "0.8894", :'stroke-miterlimit' => "10", :'d' => "M117.099,158.603 c0,0-30.504,56.707-50.005,59.063c0,0,22.762,19.878,45.886,2.979c24.014,24.608,48.917,8.302,48.917,8.302 s22.235,22.828,49.807,0.891c28.164,17.194,40.234,1.838,47.73-3.262c0,0,35.873,15.415,50.993-10.377 c-26.386-0.889-44.471-54.846-44.471-54.846C255.925,146.069,117.099,158.603,117.099,158.603z" }
      %path{ :'fill' => "url(#TreeGradient)", :'stroke-width' => "0.8894", :'stroke-miterlimit' => "10", :'d' => "M138.773,98.799 c0,0-27.274,54.253-46.776,56.609c0,0,22.762,19.879,45.887,2.98c24.014,24.607,45.009-0.539,45.009-0.539 s27.482,29.948,53.345,0.568c29.423,19.241,48.1-2.401,48.1-2.401c-18.084-1.779-42.098-56.329-42.098-56.329 C232.209,84.404,138.773,98.799,138.773,98.799z" }
      %path{ :'fill' => "url(#TreeGradient)", :'stroke-width' => "0.8894", :'stroke-miterlimit' => "10", :'d' => "M188.875,14.899 c0,0-29.703,62.218-69.726,86.232c0,0,24.663,18.42,47.788,1.521c24.014,20.456,48.027-2.668,48.027-2.668 s20.159,23.718,44.598,1.054C216.872,81.472,188.875,14.899,188.875,14.899z" }
  .star
  - (1..30).each do |i|
    %span{:class => "light light#{i}"}
  .shadow
%h1 Merry Christmas