.reindeer
  .head
    .eyes-and-nose
    .antlers
      .outside-antler-trunk.right
        .antler-branches.right
      .outside-antler-trunk.left
        .antler-branches.left
      .inside-antler.right
      .inside-antler.left
  .tail
  .legs
    .leg-rear-right
    .leg-rear-left
    .leg-front-right
    .leg-front-left
  .ground